@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.2fr 0.5fr 1fr 1fr;
	gap: 10px 10px;
	grid-auto-flow: row dense;
	grid-template-areas:
          "navbar"
          "header"
          "map_holder"
          "instructions";
}

      .navbar {
	grid-area: navbar;
}

      .header {
	grid-area: header;
}

      .map_holder {
	grid-area: map_holder;
}

      .instructions {
	grid-area: instructions;
}
