<div class="container">
  <div class="navbar"></div>
  <div class="header">
  <h3>Open-Know-Where<br>World Map of Manufacturing</h3>
  </div>
  <div class="map_holder">
  <iframe src="https://kny5.github.io/data_reports/reports/proto_01.html" style="border:0px #ffffff none;" name="myiFrame" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="100%" width="100%" allowfullscreen></iframe>
  </div>
  <div class="instructions">
  <iframe src="https://kny5.github.io/data_reports/reports/machines_in_fablabs_geomachines.html" style="border:0px #ffffff none;" name="myiFrame" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="100%" width="100%" allowfullscreen></iframe>
  </div>
</div>