<html>
	<head>
		<title>The Internet of Production Alliance.</title>
		<meta charset="utf-8" />
		<link rel="icon" href="https://uploads-ssl.webflow.com/5ee8cb0bb163e3076bc30db0/6074779db7f1ea16f0546ba5_iop-favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner" style="background-image: url("https://uploads-ssl.webflow.com/5ee8cb0bb163e3076bc30db0/5f857d7e1d8f7c862c3d8586_iop_hero.png");">
							<br>
							<!-- Logo -->

									<span><img width="20%" src="images/logo.png" alt="" /></span>
									<br>
									<br>

								<h1 style="background:None; font-size:200%; font-family: 'Roboto Condensed', sans-serif;">Open Know Where</h1>

						</div>
					</header>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
									<h1 style="background:yellow;">What if <br> we reimagined <br> manufacturing? </h1><br>
									<p style="font-family: monospace; text-align: right">
									Given current and emerging technology, <br>what would production look like if we reconfigured it from scratch? <br><br>We believe the answer lies in sustainable, <br>globally networked, local manufacturing. <br><br style="text">Join us and be part of the future of manufacturing.
								</p>
							</header>
							<!--section class="tiles">
							<table style="visibility:hidden">
								<tbody>
									<tr>
										<td><a href="MAP/MAP">MAP</a></td>
										<td><a href="OKW_ERD">ERD</td>
										<td>
											<a href="https://okw-odk.internetofproduction.org/-/single/0DWkhWxMqnUyRdkSWK7j0Bp3odkqzRH?st=X7L1nKYU9E5bcIxgikJwuAgJkqCzVT!F6YGcRih9$q$UnMgsQs!Q2uHyY6qWFhvA">FORM</a>
										</td>
										<td>
											<a href="https://standards.internetofproduction.org/pub/okw/release/2">Standard</a>
										</td>
									</tr>
								</tbody>
							</table>
						</section-->
							<section class="tiles">
								<article>
									<span class="image">
										<img style="opacity:0.4" src="images/map.gif" alt="" />
									</span>
									<a href="fablab_network/fablab_network">
										<h2 style="color:black">MAP</h2>
										<div class="content">
											<p style="font-family: monospace; color:black">OKW mapped facilities.</p>
										</div>
									</a>
								</article>
								<article>
									<span class="image">
										<img style="opacity:0.4" src="images/map.gif" alt="" />
									</span>
									<a href="Global/Global">
										<h2 style="color:black">MAP</h2>
										<div class="content">
											<p style="font-family: monospace; color:black">OKW mapped facilities.</p>
										</div>
									</a>
								</article>
								<article>
									<span class="image">
										<img style="opacity:0.4" src="images/diagram.gif" alt="" />
									</span>
									<a href="OKW_ERD">
										<h2 style="font-family: monospace; color:black">ERD</h2>
										<div class="content">
											<p style="color:black">Entity Relationship Diagram.</p>
										</div>
									</a>
								</article>
								<article>
									<span class="image">
										<img style="opacity:0.4" src="images/checklist.gif" alt="" />
									</span>
									<a href="https://okw-odk.internetofproduction.org/-/single/0DWkhWxMqnUyRdkSWK7j0Bp3odkqzRH?st=X7L1nKYU9E5bcIxgikJwuAgJkqCzVT!F6YGcRih9$q$UnMgsQs!Q2uHyY6qWFhvA">
										<h2 style="font-family: monospace; color:black">ODK FORM</h2>
										<div class="content">
											<p style="color:black">Open Datakit Self-Submission Form, extended version.</p>
										</div>
									</a>
								</article>
								<article>
									<span class="image">
										<img style="opacity:0.4" src="images/check.gif" alt="" />
									</span>
									<a href="https://standards.internetofproduction.org/pub/okw/release/2">
										<h2 style="font-family: monospace; color:black">Standard Specification</h2>
										<div class="content">
											<p style="color:black">Release 1.</p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>
			</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
